/*     .heroes li { */
/*       cursor: pointer; */
/*       position: relative; */
/*       left: 0; */
/*       background-color: #EEE; */
/*       margin: .5em; */
/*       padding: .3em 0; */
/*       height: 1.6em; */
/*       border-radius: 4px; */
/*     } */
/*     .heroes li.selected:hover { */
/*       background-color: #BBD8DC !important; */
/*       color: white; */
/*     } */
/*     .heroes li:hover { */
/*       color: #607D8B; */
/*       background-color: #DDD; */
/*       left: .1em; */
/*     } */
/*     .heroes .text { */
/*       position: relative; */
/*       top: -3px; */
/*     } */
/*     .heroes .badge { */
/*       display: inline-block; */
/*       font-size: small; */
/*       color: white; */
/*       padding: 0.8em 0.7em 0 0.7em; */
/*       background-color: #607D8B; */
/*       line-height: 1em; */
/*       position: relative; */
/*       left: -1px; */
/*       top: -4px; */
/*       height: 1.8em; */
/*       margin-right: .8em; */
/*       border-radius: 4px 0 0 4px; */
/*     } */

/*     .heroes { */
/*       margin: 0 0 2em 0; */
/*       list-style-type: none; */
/*       padding: 0; */
/*       width: 15em; */
/*     } */
/* .testplan-tree { */

/* } */
.testplan-tree {
	/* 	height: 100vh; */
	width: 40vh;
	cursor: pointer;
	padding: 0;
}

.testelement {
	height: 100vh;
	padding: 0 1em;
	/* 	width: 1vh; */
}

.testplan-tree li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.testplan-tree li.selected:hover {
	background-color: #BBD8DC !important;
	color: white;
}

.testplan-tree li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

.testplan-tree .text {
	position: relative;
	top: -3px;
}

.testplan-tree.assertion {
	list-style-image: url('../../assets/tree/assertion.png');
}

.testplan-tree.config {
	list-style-image: url('../../assets/tree/config.png');
}

.testplan-tree.lisenter {
	list-style-image: url('../../assets/tree/listener.png');
}

.testplan-tree.post_processor {
	list-style-image: url('../../assets/tree/post_processor.png');
}

.testplan-tree.pre_processor {
	list-style-image: url('../../assets/tree/pre_processor.png');
}

.testplan-tree.sampler {
	list-style-image: url('../../assets/tree/sampler.png');
}

.testplan-tree.testplan {
	list-style-image: url('../../assets/tree/testplan.png');
}

.testplan-tree.thread_group {
	list-style-image: url('../../assets/tree/thread_group.png');
}

.testplan-tree.timer {
	list-style-image: url('../../assets/tree/timer.png');
}

.testplan-tree.workbench {
	list-style-image: url('../../assets/tree/workbench.png');
}