 <div>
 <div> Name: <input 
       maxlength="255"
       type="text"
       placeholder="{{ node.getName() }}"
       [ngModel]="node.element.getProperty('TestElement.name')"
       (ngModelChange)="changeName($event)"
        >
  </div>
   <div> Comments: <input 
       maxlength="255" 
       type="text"
       placeholder="{{ node.element.getProperty('TestElement.comments') }}"
       [ngModel]="node.element.getProperty('TestElement.comments')"
       (ngModelChange)="changeComments($event)"
        >
  </div>
</div>