<div>
	<ul class="testplan-tree" layout-align="start left">
		<li class="testplan-tree" *ngFor="let node of testplan" [class.selected]="node === selectedNode" [ngClass]="node.elementType"
		  [contextMenu]="testPlanContextMenu"
			[contextMenuSubject]="node"
			(contextmenu)="onContextMenu($event, node)"
			(click)="onSelect(node)">{{ node.element.getProperty('TestElement.name') }}</li>
	</ul>

	<context-menu   #testPlanContextMenu>
		<ng-container *ngFor="let menu of selectedNode?.menus">

			<context-menu #firstLevelMenu>
				<ng-template let-item contextMenuItem
				*ngFor="let subMenu of menu?.subMenus"
				(execute)="subMenu.click(node, $event)">
				{{ subMenu.html(node) }}
				</ng-template>
			</context-menu>

			<ng-template  let-item contextMenuItem
			[subMenu]="firstLevelMenu"
			(execute)="menu.click(node, $event)">
				{{ menu.html(node) }}
			</ng-template>

		</ng-container>
	</context-menu>
</div>


<div class="testelement">
	<div *ngIf="selectedNode" >
		<p>Test Element Edit</p>
		<app-testelement [node]="selectedNode"></app-testelement>
	</div>
</div>
