<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/testplan.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/main.app.js"></script>
<script src="js/contextMenu.js"></script>
<title>CloudMeter</title>
</head>

<body>

	<div ng-app="CloudMeter" ng-controller="CloudMeterController" >
		<label for="fileOptsSelect">File Options</label><br>
		
		<select name="fileOptsSelect" ng-model="selectedFileOption" ng-change="fileOptionsChanged();" >
			 <option ng-repeat="option in fileopts">{{option}}</option> 
		</select>
		
		<br/>		
		
		<script type="text/ng-template"  id="test_element_renderer.html" >
			{{ node.testelement.properties["TestElement.name"].value }}
    		<ul>
        		<li ng-repeat="node in node.hashTree" ng-include="'test_element_renderer.html'" 
				 	class="base-test-element" ng-class="getCSSCLassForElement(node)" 
 					context-menu="treeOptionsForNode(node)" />
    		</ul>
		</script>


		<div ng-model="workingTestPlan" >
			 <ul>
			 	<li class="base-test-element" ng-class="getCSSCLassForElement(node)" 
			 		ng-repeat="node in testplan" ng-include="'test_element_renderer.html'" 
			 		context-menu="treeOptionsForNode(node)" />
			 </ul>
		</div>

	</div>
	
	


</body>
</html>
